<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cms.type.mapper.CMSTypeMapper">
    <!-- 查询结果resultSet和实体类型CMSType之间的映射关系 -->
    <resultMap type="CMSType" id="CMSTypeResult">
        <id     property="typeId"        column="type_id"       />
        <result property="typeName"      column="type_name"     />
        <result property="typeSort"      column="type_sort"     />
        <result property="typeStatus"    column="status"        />
        <result property="createBy"      column="create_by"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateBy"      column="update_by"     />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
    </resultMap>


    <!--  条件查询 -->
    <select id="selectCMSTypeList" parameterType="CMSType" resultMap="CMSTypeResult" >
        select type_id, type_name, type_sort, status, create_by, create_time, update_by, update_time, remark
        from cms_type
        <where>
            <if test="typeName != null and typeName != ''">
                /*concat是MYSQL数据库中的函数，用来实现字符串拼接
                  concat(string...)
                  */
                AND type_name like concat('%', #{typeName}, '%')
            </if>
        </where>
    </select>

</mapper>