<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cms.type.mapper.CMSTypeAddMapper">
    
    
    <select id="checkTypeNameUnique" parameterType="String" resultMap="com.ruoyi.project.cms.type.mapper.CMSTypeMapper.CMSTypeResult">

        select type_id, type_name, type_sort, status, create_by, create_time, update_by, update_time, remark
        from cms_type
        where type_name = #{typeName}

    </select>
    //新增公告类型
    <insert id="insertCMSType" parameterType="CMSType" useGeneratedKeys="true" keyProperty="typeId">
        insert into sys_post(
        <if test="typeId != null and typeId != 0">type_id,</if>
        <if test="typeName != null and typeName != ''">type_name,</if>
        <if test="typeSort != null and typeSort != ''">type_sort,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="typeId != null and typeId != 0">#{typeId},</if>
        <if test="typeName != null and typeName != ''">#{typeName},</if>
        <if test="typeSort != null and typeSort != ''">#{typeSort},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


</mapper>